<html lang="en" >
	<head>
		<title>找回密码</title>
		<div th:replace="../templates/admin/index/headLink :: links"></div>
	</head>

	<body id="goodsEntry-body">
		<div th:replace="../templates/admin/index/top :: top_black"></div>
		<h1>找回密码</h1>
		
		<div id="entry-box">
			<div class="password-box">
				<i>旧密码:</i><input type="password" id="oldPassword" placeholder="输入旧密码"/>
			</div>
			<div class="password-box">
				<i>新密码:</i><input type="password" id="newPassword" placeholder="输入新密码"/>
			</div>
			<div class="password-box">
				<i>确认新密码:</i><input type="password" id="newPassword2" placeholder="再次输入新密码"/>
			</div>
			<div class="password-box">
				<span id="sub-pw">确定</span>
			</div>
		</div>
		
		<script th:inline="javascript">
			$('#sub-pw').on('click',function(){
				if($('#oldPassword').val() === ''){
					return layer.msg('请输入旧密码')
				}
				if($('#newPassword').val() === ''){
					return layer.msg('请输入新密码')
				}
				if($('#newPassword2').val() === ''){
					return layer.msg('请输入确认新密码')
				}
				if($('#oldPassword').val() === $('#newPassword').val()){
					return layer.msg('新密码不可以同旧密码一致')
				}
				if($('#newPassword').val() != $('#newPassword2').val()){
					return layer.msg('请确保两次输入的新密码一致')
				}
				var oldPassword = $('#oldPassword').val();
				var newPassword = $('#newPassword').val();
				$.ajax({
					type:"post",
					url:"updatePassword",
					data:{
						'oldPassword':oldPassword,
						'newPassword':newPassword
					},
					dataType:'json',
					success:function(data){
						console.log(data)
						if(data.state == 'success'){
		    				layer.msg('密码修改成功');
		    				setTimeout(function () {
								window.location.reload()
							},500)	
		    			}else if(data.state == 'failed'){
							layer.msg('密码修改失败！异常码：'+data.msg)
						}else if(data.state == 'error'){
							layer.msg('提交失败，系统异常！异常码：'+data.msg)
						}
					},
					error:function(data){
						console.log(data)
					}
				});
			})
		</script>
	</body>

</html>