<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>北极光</title>
		<div th:replace="../templates/admin/index/headLink :: links"></div>
	</head>
	<!--<head>
		<title>北极光首页</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
	</head>-->
	
	<body id="main-body">
		<div th:replace="../templates/admin/index/top :: topMenu"></div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/*]]>*/	
		</script>
	</body>
</html>